/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nanum+Myeongjo:wght@700&display=swap');
font-family: 'Great Vibes', cursive*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap'); 
/*font-family: "Libre Baskerville", serif;*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kanit:ital,wght@1,300&family=Nanum+Myeongjo:wght@700&display=swap');
/* font-family: 'Kanit', sans-serif; */


@font-face {
    font-family: charly;
    src: url(../fonts/CHARLEY.otf);
}

html{
background-color: #F5F1DB;
}

header{
    height: 70px;
    width: 100%;
    opacity: 90%;
    background-color: transparent;
    display: inline-table;
/*     position: absolute; */
}
.nav-link{
    font-family: "Libre Baskerville", serif;
    color: #7EB77F;
}
.navbar-brand{
    font-size: 35px;
    font-family:charly;
    color: #7EB77F;
    margin-left: 1%;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}
.navbar-expand-sm .navbar-collapse{
    justify-content: right;
    padding-right: 1%;
}

.carousel-item{
size-adjust: 100%;
}
.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.barra ul li{
    list-style: none;
    font-size: 25px;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}
.barra a{
    text-decoration: none;
    color: #7EB77F;
    margin-right: 10px ;
}
body{
    margin: 0%;
}

/*termina.home*/

.tnosotros{
    text-align: center;
    font-family: "charly";
    font-size: 35px;
    color: beige;
    position: sticky;
}
.pnosotros{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 120%;
    color: beige;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
}
.ftabout{
width: 100%;
height: 100%;
position: absolute;
}
.contenedor2{
    display: inline-table;
}
/* .contenedor2{
    background-color: #7EB77F;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 10%;
    border-radius: 25px;
    opacity: 80%;
} */
/*termina.nosotros*/
span{
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    color: beige;
}
.pservicios{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    color: beige;
}
.ps1, .ps2, .ps3, .ps4{
    background-color: #7EB77F;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1%;
    border-radius: 25px;
    opacity: 80%;
    color: beige;
}
.abajoserv{
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-align: center;
}
/*termina.servicios*/
.tblog{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    color: beige;
}
.b1{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: beige;
}
.b2{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    background-color: #7EB77F;
    border-radius: 25px;
    margin-left: 35%;
    margin-right: 35%;
    opacity: 80%;
    color: beige;
}
.sc1{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    background-color:  #7EB77F;
    border-radius: 25px;
    margin-left: 35%;
    margin-right: 35%;
    opacity: 80%;
}
.sc2{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    background-color:  #7EB77F;
    border-radius: 25px;
    margin-left: 35%;
    margin-right: 35%;
    opacity: 80%;
}
.tcontacto{
    text-align: center;
    color: beige;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;
}
.tablacont{
    text-align: center;
    display: grid;
    margin-left: 40%;
    margin-right: 40%;
    font-family: 'Kanit', sans-serif;
}
/*termina.contacto*/