/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nanum+Myeongjo:wght@700&display=swap');
font-family: 'Great Vibes', cursive*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap'); 
/*font-family: "Libre Baskerville", serif;*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kanit:ital,wght@1,300&family=Nanum+Myeongjo:wght@700&display=swap');
/* font-family: 'Kanit', sans-serif; */

@font-face {
    font-family: charly;
    src: url(../fonts/CHARLEY.otf);
}

//variables
$color-letra: black;
$color-principal: white;
$color-secundario: #7EB77F;
$font1: "libre Baskerbille", serif;
$font2: 'Kanit', sans-serif;
$font3: "charly";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0%;
}

.header{
    height: 70px;
    width: 100%;
    opacity: 90%;
    background-color: transparent;
    display: inline-table;
}
.ul.navbar-nav{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link{
    font-family: $font1;
    color: #7EB77F;
    text-decoration: none;
}
.navbar-brand{
    font-size: 35px;
    font-family: $font3;
    color: #7EB77F;
    margin-left: 1%;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}

.navbar-expand-sm .navbar-collapse{
    justify-content: right;
    padding-right: 1%;
}
.span.navbar-toggler-icon{
    color: #7EB77F;
}

.carousel-control-next, .carousel-control-prev{
    margin: 5px;
    padding: 5px;
}
.carouse-item{
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    }

    .carousel-caption {
        color: #7EB77F;
        font-family: $font1;
        font-size: 120%;
        padding-bottom: 50%;
    }

.footer{
    p , ul li {
        color:$color-letra ;
        font-family: $font1;
    }
}
.footer{
    h3{
        font-family: $font3;
        
    }
}
.pie-de-pagina{
    background-color: #F8F9FA ;
    font-family: $font1;
    padding:0%;
    overflow: hidden;
    position: relative;
    color: $color-letra;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.footer-section {
    margin: 0 20px;
}
.footer-section h3 {
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 8px;
}
.footer-section p {
    margin: 0;
    font-size: 14px;
}
.social-media-links {
    list-style: none;
    padding: 0;
    display: flex;
    color: $color-letra;
}
.social-media-links li {
    margin: 0 10px;
}
.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #7EB77F;
}

.secserv{
    padding-top: 2rem;
}
.tnosotros{
    text-align: center;
    font-family: $font3;
    font-size: 2rem;
    color: beige;
    position: absolute;
    top: 19%;
    right: 20%;
    left: 20%;
}
.pnosotros{
    text-align: center;
    font-family: $font2;
    color:$color-principal;
    position: absolute;
    top: 11rem;
    left: 7.5%;
    right: 7.5%;
    font-size: 100%;
}

.img-container{
    max-height: 1500px;
}
.img-about{
    height: 100%;
    width: 100%;
}
.ftabout, .ftblog, .ftserv, .ftcont{
width: 100%;
height: 100%;
position: absolute;
}
.contenedor2{
    display: inline-table;
}

/*termina.nosotros*/
span{
    font-family: $font1;
    font-size: 1.1rem;
    color: $color-letra;
}
.pservicios{
    font-family: $font2;
    font-size: 18px;
    color: $color-letra;
}
.ps1, .ps2, .ps3, .ps4{
    background-color: $color-principal;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    border-radius: 25px;
    opacity: 80%;
    color: $color-letra;
    font-size: 1rem;
    padding: 0.2%;
}

/*termina.servicios*/

.tblog{
    text-align: center;
    font-family: $font2;
    font-size: 35px;
    color: beige;
}

.b1{
    text-align: center;
    font-family: $font2;
    color: $color-letra;
}
.b2{
    text-align: center;
    font-family: $font2;
    background-color: $color-principal;
    border-radius: 25px;
    margin-left: 35%;
    margin-right: 35%;
    opacity: 80%;
}
.sc1{
    font-size: 10rem;
    text-align: center;
    font-family: $font2;
    background-color:  $color-principal;
    border-radius: 25px;
    margin-left: 35%;
    margin-right: 35%;
    opacity: 80%;
}
.sc2{
    text-align: center;
    font-family: $font2;
    background-color: $color-principal;
    border-radius: 25px;
    margin-left: 35%;
    margin-right: 35%;
    opacity: 80%;
}
.tcontacto{
    text-align: center;
    color: beige;
    font-size: 35px;
    font-family: $font1;
    position: relative;
    margin-top: 10%;
}
.tablacont{
    text-align: center;
    display: grid;
    margin-left: 40%;
    margin-right: 40%;
    font-family: $font1;
    position: relative;
}

/*termina.contacto*/


